<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pay</title>
    </head>
    <body>
        <div id="paypal-button-container"></div>
        <p id="result-message"></p>
        <!-- Replace the "test" client-id value with your client-id -->
        <script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=USD"></script>
        <script src="../static/js/app.js"></script>
    </body>
</html>
