{% extends "layout.html" %}
{% block sections %}
    <header class="header text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h2 class="text-lg text-md">Sustainability</h2>
                </div>
            </div>
        </div>
    </header>

    <section class="sustainability">
        <div class="container">
            <h2>We care about our planet. For this reason, Mina aims to be operating sustainably and ethically at every level.</h2>
            <div class="row align-items-center justify-content-center mb-5">
                <div class="col-lg-5 col-md-10">
                    <img src="../static/images/Sustainability1.png" class="img-fluid" alt="Sustainability Image">
                </div>
                <div class="content c1 col-lg-5 col-md-10">
                    <h5>Working Ethos</h5>
                    <p>For Alex and Laura, planning ahead is a central component of sustainable design.
                        Work begins with sketches of ideas before any clay is modeled.
                        Fully conceptualizing and refining each design beforehand helps us to reduce material waste.
                    </p>
                    <p>We strive to work collaboratively at every stage. Our team efforts minimize energy usage in the studio.</p>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mt-5">
                <div class="col-lg-5 col-md-10 order-lg-2">
                    <img src="../static/images/Sustainability2.png" class="img-fluid" alt="Sustainability Image">
                </div>
                <div class="content c2 col-lg-5 col-md-10 order-lg-1">
                    <h5>Materials</h5>
                    <p>Surrounded by beautiful landscapes, it is only right that our studio is stocked with only the finest
                        local materials that haven't had to travel far to get to us.
                        Our clay is as locally sourced as possible for every product.
                    </p>
                    <p>We ensure that the paint we use on our products is low-VOC and never washed into local waterways during production.</p>
                </div>
            </div>
        </div>
    </section>    
{% endblock sections %}
