{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <!-- Update Product Section -->
    <div class="card">
        <div class="card-header">
            update Product
        </div>
        <div class="card-body">
            <!-- Form to update product -->
            <form action="{{ url_for('admin.edit_product', id=product.product_id) }}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="productName" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="productName" value="{{ product.title }}" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="productContent" class="form-label">Product Content</label>
                    <textarea name="content" class="form-control" id="productContent" required>{{ product.content }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Product Price</label>
                    <input type="number" class="form-control" id="productPrice" value="{{ product.price }}" name="price" step="0.01" required>
                </div>
                <div class="mb-3">
                    <label for="productSales" class="form-label">Product Sales</label>
                    <input type="number" class="form-control" id="productSales" value="{{ product.selled }}" name="selled" required>
                </div>
                <div class="mb-3">
                    <label for="productStock" class="form-label">Product Stock</label>
                    <input type="number" class="form-control" id="productStock" value="{{ product.stock }}" name="stock" required>
                </div>
                <div class="mb-3">
                    <label for="productImage" class="form-label">Product Image</label>
                    <input type="file" class="form-control" id="productImage" name="image">
                </div>
                <button type="submit" class="btn btn-primary">Update Product</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
