/* Footer Styles */

.footer {
    background-color: #f1f1f1;
    padding: 5rem 0;
}

.social_media img {
    margin-bottom: 10px;
}

.social_icons img {
    width: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

.social_icons a {
    text-decoration: none;
}

.links a {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #1a1a1a;
}